<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464106254904-5er9epauhiv8sg9kg0ea7narb1034cup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464106254904-5er9epauhiv8sg9kg0ea7narb1034cup</string>
	<key>API_KEY</key>
	<string>AIzaSyBn2icBMy_KPZEBAk5scgHz_TpyESSic7U</string>
	<key>GCM_SENDER_ID</key>
	<string>464106254904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.udevs.firebaseSample</string>
	<key>PROJECT_ID</key>
	<string>fcmessaging-dd7bf</string>
	<key>STORAGE_BUCKET</key>
	<string>fcmessaging-dd7bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464106254904:ios:aa2a19cce3d8ef7bc2eccd</string>
</dict>
</plist>